<%- include('partials/header.ejs') %>
<div id = "form">
    <form action="submit" method="Post" name="form" id = "">
        <label class="h1">new post</label><br>
        <textarea name = "text1" cols = "100" rows = "5"></textarea>
        <br>
        <button class="btn btn-outline-secondary" type="submit">Create New Post</button>
   </form>
</div>


<%- include('partials/footer.ejs') %>